html,
body {
    height: 100%;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    height: 5em;
    padding: 1em;
    margin-top: 1.5em;
    background-color: #00A170;
    font-size: 120%;
}

footer p {
    color: #EFE1CE;
}

footer a {
    text-decoration: none;
    color: #EFE1CE;
}

footer a:hover {
    color: #c4c0bc
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.room-image {
    width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}