.my-footer {
    height: 5em;
    background-color: #00A170;
    color: #EFE1CE;
    padding: 1em;
    margin-top: 1.5em;
    font-size: 120%;
}
.room-image {
    width: 50%;
}

.notie-container {
box-shadow: none;
}

.datepicker {
    z-index: 10000;
}